.banner {
    background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 70px;
    margin: auto;
    height: 70px;
    color: #fff;
    background-color: #dc3545;
}

.lingkaran svg {
    position: relative;
    top: 10px;
}

.crop-img {
    object-fit: cover;
}

.tim img {
    width: 250px;
    border: 10px solid #CCCCCC;
}

a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 35px;
}

.client img {
    height: auto;
    max-height: 50px;
}

.kontak {
    background: url("https://images.pexels.com/photos/599982/pexels-photo-599982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #fff;
}